<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}


<script type="text/javascript" src="/plugins/google-code-prettify/prettify.js"></script>
<script type="text/javascript" src="/plugins/styles/jquery-1.8.0.min.js"></script>
<script type="text/javascript">
  $(function(){
    $("pre").addClass("prettyprint").attr('style', 'overflow:auto');
    prettyPrint();
  });
</script>
  </body>

</html>

