<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>

<link href="/plugins/google-code-prettify/prettify.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/plugins/google-code-prettify/prettify.js">
  $(function(){
    $("pre").addClass("prettyprint linenums");
    prettyPrint();
  });
</script>